apiVersion: apps/v1
kind: Deployment
metadata:
  name: cit225-deployment
spec:
  replicas: 2  # Number of NGINX pods to run
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: cithit/cit225-test1:latest
        ports:
        - containerPort: 80  # Expose NGINX on port 80

---
  apiVersion: v1
  kind: Service
  metadata:
    name: cit225-service
  spec:
    selector:
      app: nginx
    type: NodePort
    ports:
      - protocol: TCP
        port: 80
        targetPort: 80
        nodePort: 33333

